{% macro address(data) %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sbi
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.sbi }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.address }}
        </dd>
      </div>
    </dl>
{% endmacro %}